/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1500; /* Augmentez la valeur du z-index */
}

/* banner css */
.banner {
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 150px 0;
  padding-top: 200px; /* Réduisez cette valeur pour réduire l'espace au-dessus de la bannière */
  height: calc(100vh - 70px); /* Ajustez 70px en fonction de la hauteur de votre barre de navigation */
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
body {
  background-color: #337357; /* Remplacez cette couleur par celle de votre choix */
}


/* about-secction */
.about-section {
  background-color: #337357; /* Remplacez cette couleur par celle de votre choix */
  padding: 50px 0; /* Ajoutez un peu de marge intérieure pour plus d'espace */
}

.image-container {
  display: flex;
  justify-content: space-between; /* Ajoute de l'espace entre les images */
}

.image-container img {
  max-width: 50px;
  border-radius: 50%; /* Crée un contour circulaire */
  margin-right: 10px; /* Ajoute un espace à droite de chaque image */
}


#experience {
  margin: 10px 0;
  padding: 5px;
}
/* social linkes */
.social-links a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333; /* Couleur par défaut */
  transition: color 0.3s ease; /* Transition de couleur pour l'effet hover */
}

.social-links a:hover {
  color: #007bff; /* Couleur au survol */
}





/* services */

#services  {
  background-color: #337357; /* Remplacez "#your-color" par la couleur de fond que vous souhaitez */
}

#services h2.text-white {
  color: white;
}

.card {
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.5s;
}

.card:hover {
  transform: perspective(1000px) rotateY(10deg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}




/* references client */
/* .background-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(image/effel-tower.jpg); /* Remplacez "image/background.jpg" par le chemin de votre image de fond */
  /* background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;

} */
.white-text {
  color: white;
}
/* Nouvelle classe pour la section de cartes */
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajustez la largeur minimale et maximale selon vos besoins */
  grid-gap: 16px;
}

/* Styles pour chaque carte */
.card-category {
  /* Ajoutez ici vos styles pour les cartes */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 8px;
}

/* fin de rreferences client */


/* avis client  */
.testimonials-section {
  background-color: #FFFFEC;
  padding: 50px 0;
}

.card {
  margin-bottom: 30px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  color: #555;
}

.rating {
  margin-top: 15px;
}

.fa-solid.fa-star, .fas.fa-star-half {
  font-size: 24px;
}

/* reservation */
#Contact {
  background-color: #337357; /* Remplacez "#your-color" par la couleur de fond que vous souhaitez */
}
#msg {
  display: none; /* Cache le message par défaut */
}

/* here the footer css */
.footer {
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #337357(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #337357;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-copyright{
  color: #337357;
}

.footer .fa-heart {
  color: #D23333;
}
